{
  email info@itargs.com
}

api.elnagar.itargs.com {
  reverse_proxy elnagar_kong:8000
}

api.kat.itargs.com {
  reverse_proxy kat_kong:8000
}

api.teststore.itargs.com {
  reverse_proxy teststore_kong:8000
}

